/* import custom fonts */

/* ================================================== */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
/* ================================================== */

/* ===== body =====*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    box-sizing: border-box
}

html {
    padding: 0;
    margin: 0
}

body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 500
}

.padding-0 {
    padding: 0 !important
}

.color-blue {
    color: #FF3959;
}

.color-green {
    color: #ff3959;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    overflow: hidden
}

#top,
#about,
#services,
#products,
#blog,
#testimonials,
#contact {
    display: block;
    position: relative;
    top: -70px !important;
    visibility: hidden
}

button:focus {
    outline: none !important
}
.wow { visibility: hidden; }
/*========= preloader ============== */

#preloader {
    display: table;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    background-image: #FF3959;
    text-align: center;
}

.preloader1 {
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, 0.65);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    -webkit-animation: preloader1 1s ease-in infinite;
    animation: preloader1 1s ease-in infinite;
    position: absolute;
    margin-left: -30px;
    top: 45%;
}

.spinner {
    display: table-cell;
    vertical-align: middle;
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background: #ff3959;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background: #FF3959;
}

.spinner .bounce3 {
    background: #ff3959;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes preloader1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

/* ===== Header =====*/
.header-container{
    position: relative;
    display: flex; 
    flex-wrap: wrap;
}
.header-scrolled {
    position: fixed;
    margin-top: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05)
}

.header-scrolled .navbar-brand img {
    width: 140px;
    height: auto
}

.header-scrolled .nav-link-menu {
    font-size: 15px
}

.header-scrolled .learn-more-btn {
    font-size: 15px;
    padding: 10px 25px !important
}

.navbar {
    margin-top: 10px;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.navbar-nav {
    align-items: center
}

.navbar-brand {
    display: flex;
    align-items: center
}

.navbar-brand img {
    margin-left: 15px;
    width: 230px;
    height: auto
}

.navbar-brand-menu {
    margin-right: 15px
}

.menu-navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px
}

.navbar-nav:not(.menu-navbar-nav) .nav-item:last-of-type {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.nav-item .nav-link {
    text-align: right
}

.nav-item .nav-link:hover .nav-link-menu {
    color: #303669 !important
}

.nav-link-menu {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    line-height: 1
}

.learn-more-btn {
    background-color: #ff3959;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 10px 30px !important;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.learn-more-btn:hover {
    color: #fff;
    background-color: #444444
}

.learn-extra-btn {
    background-color: transparent;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #558b95;
    padding: 8px 26px !important;
    border-radius: 100px;
    border: 2px solid #558b95;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center
}

.learn-extra-btn:hover {
    color: #FF3959;
    border: 2px solid #FF3959
}

.learn-more-btn .ti,
.learn-extra-btn .ti {
    margin-top: 0px;
    padding-right: 7px;
}

.about-btn-icon {
    margin-right: 5px
}

.ti-layout-grid2 {
    font-size: 30px;
    color: #FF3959;
}


.header {
    display: flex;
    width: 100%;
    padding: 160px 0 100px;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header-bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header .car-main{
    -webkit-filter: grayscale(0);
    filter: none;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    opacity: 1;
}
.header .car-main.grey-color{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    opacity: 0.8;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.header-container {
    display: flex;
    justify-content: center;
}

.header-img-section img {
    width: 100%
}

.header-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    color: #49495c
}


.learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px
}
/* car parts*/
.car-parts{
    background: #ffffff;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px #999999;
    -webkit-box-shadow: 0px 0px 10px #999999;
    -moz-box-shadow: 0px 0px 10px #999999;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    cursor: pointer;
}
.car-parts .car-img{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    background: #777777;    
}
.car-main-parts{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.car-parts .car-text h5{
    font-size: 25px;
    font-weight: bold;
}
.car-parts .car-text p{
    font-size: 14px;
    letter-spacing: 1px;
    color: #555;
}
.car-parts .car-text h5{
    color: #777777;
}
.car-parts:hover{
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.car-parts:hover .car-img{
background: #ff3959;    
}
.car-parts:hover .car-text h5{
    color: #ff3959;    
}
.car-parts-1 .car-img{
    border-radius: 10px 50% 50% 10px;
}
.car-parts-2 .car-img{
    border-radius: 50% 10px 10px 50%;
}
.car-parts .car-img img{
    width: 100%;
}
.car-parts .car-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 66%;    
}
.car-parts-1 .car-text{
    border-radius: 0 5px 5px 0;
    text-align: right;
}
.car-parts-2 .car-text{
    border-radius: 5px 0 0 5px;
    text-align: left;
}
.car-parts.car-parts-1.left-4 {
    left: 40px;
}
.car-parts.car-parts-2.right-4 {
    right: 40px;
}

/* form */

.vertical-slider-section {
    background-color: rgba(222, 228, 233, .25);
    padding-top: 0;
    padding-bottom: 50px
}

.vertical-slider-section {
    position: relative
}

.vertical-slider-container {
    position: relative;
    display: flex;
    padding-top: 0;
    padding-bottom: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.vertical-slider-header-img-section {
    padding: 20px
}

.vertical-slider-header-img-section img {
    width: 100%
}

.vertical-slider-title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-top: 50px;
    width: 100%
}

.vertical-slider-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #49495c
}

.vertical-slider-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 10px;
    color: #FF3959
}

.vertical-slider-text {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5
}

.owl-vertical-slider .owl-nav {
    display: none
}

.owl-vertical-slider .owl-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(90deg)
}

.owl-vertical-slider .owl-dots .owl-dot span {
    background-color: #ccc !important
}

.owl-vertical-slider .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ff3959 !important
}

/* ===== Aboout Us Section =====*/
.about-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgba(0, 0, 0, 0.03);
    position: relative
}

.about-container {
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.about-header-img-section {
    padding: 20px
}

.about-header-img img {
    width: 100%
}

.about-title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%
}

.about-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #49495c
}

.about-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 10px;
    color: #FF3959
}

.about-text {
    font-family: 'Nunito', sans-serif;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 700px
}

/* ===== Service setion =====*/
.services-section {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative
}

.service-list .service-box {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.service-list .service-box:hover {
    background:#FF3959;
    color: #fff;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;    
}

.service-list .service-box:hover h5 {
    color: #fff;
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.service-list .service-box:hover p {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

.service-list .service-box .icon {    
    display: inline-block;    
    padding: 20px;  
    filter: grey; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */  
}

.service-list .service-box:hover .icon {
    border-radius: 50%;
    background: #ffffff;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
    -webkit-filter: grayscale(0);
    filter: none;
}


.service-box h5 {
    color: #FF3959;
    font-weight: bold;
}

/* ===== Products section =====*/
.products-section {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.03);
}

.products-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.products-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #49495c
}

.products-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.products-title h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 10px;
    color: #FF3959
}

.products-title p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 700px
}
.product-details{
    border: 1px solid #ddd;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.product-details:hover{
    box-shadow: 0 0 15px rgba(255,57,89,0.2);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);    
    box-shadow: 0 0 15px #cccccc;
}
.product-details .product-img{
    padding: 20px;
    border-radius: 5px 5px 0 0;   
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
.product-details .product-img img{
    width: 100% !important;
}
.product-details:hover .product-details:hover img{
    transform: scale(1.3) rotate(10deg);
}
.product-text {
    padding: 20px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}
.product-details h5{
    color: #ff3959;
    font-weight: bold;
}
.product-text .product-text-small {
    font-size: 12px;
    font-weight: normal;
    background: #ff3959;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}
/* ===== Blog Section =====*/
.blog-section {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative
}

.blog-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.blog-section {
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
}

.blog-details {
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.blog-details:hover {
    -webkit-box-shadow: 0 0px 17px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 17px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.blog-img {
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.blog-img:hover img {
    transform: scale(1.3) rotate(10deg);
    -webkit-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

.blog-text {
    padding: 25px;
    background: rgba(0, 0, 0, 0.04);
}

.blog-text h5 {
    margin-bottom: 15px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

.blog-text p {
    font-size: 13px;
    color: #555555;
    letter-spacing: 0.5px;
}

.blog-text p:nth-child(3) {
    color: #555555;
    float: right;
}

/* ===== Testimonials Section =====*/
.testimonials-slider-section {
    background-color: #ffffff;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative
}

.testimonials-slider-section-bg-graphics {
    position: absolute;
    width: 25%;
    right: -5%;
    top: 10%
}

.testimonials-slider-section-bg-graphics img {
    width: 100%
}

.testimonials-slider-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.testimonials-slider-header-img-section {
    padding: 20px
}

.testimonials-slider-header-img-section img {
    width: 100%
}

.testimonials-slider-title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%
}

.testimonials-slider-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #49495c
}

.testimonials-slider-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 10px;
    color: #FF3959
}

.testimonials-slider-text {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5
}

.blockquote p {
    margin-bottom: 25px;
    color: #888;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
}

.blockquote-footer::before {
    content: none;
}

.blockquote-footer {
    font-size: 19px;
    color: #333;
    background-color: rgba(0, 51, 121, 0.15);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    letter-spacing: 0.5px;
    border-left: 5px solid;
}

.owl-testimonials-slider .owl-nav {
    display: none
}

.owl-testimonials-slider .owl-dots .owl-dot span {
    background-color: #ccc !important
}

.owl-testimonials-slider .owl-dots .owl-dot.active span {
    background-color: #ff3959 !important;
    width: 20px;
}

/* ===== Contact Us Section =====*/
.contact-section {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgba(0, 0, 0, 0.03);
    position: relative
}

.contact-container {
    position: relative;
    display: flex;
    flex-wrap: wrap
}

.contact-header-img img {
    width: 100%
}

form.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 7px 7px 0px rgba(12, 0, 46, .2);
    box-shadow: 0 7px 7px 0px rgba(12, 0, 46, .2);
}

.contact-form label {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 2px;
}

.contact-form .form-control {
    border: 1px solid #dddddd;
}

.contact-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #FF3959;
    background-color: rgba(0, 51, 121, 0.03);
}

/* ===== Footer Section =====*/
.footer-section {
    padding-top: 75px;
    padding-bottom: 55px;
    margin-bottom: 0 !important;
    position: relative;
    background-color: #FF3959;
    background-image: url("../images/footer.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: #ffffff
}

.footer-section a {
    color: #ffffff
}

.footer-section-bg-graphics {
    position: absolute;
    right: -10%;
    bottom: 0%
}

.footer-container {
    display: flex;
    position: relative
}

.top-container {
    display: flex;
    position: relative
}

.footer-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 40px
}

.footer-logo img {
    margin-bottom: 20px
}

.footer-logo p {
    max-width: 250px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400
}

.footer-subsection {
    padding-left: 40px;
    padding-right: 40px
}

.footer-subsection-title {
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    line-height: 2.2;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-subsection-text {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400
}

.footer-subsection-2-1 {
    margin-bottom: 20px
}

.footer-subsection-2-2 {
    margin-bottom: 20px
}

.footer-subsection-list {
    list-style: none;
    padding-left: 0
}

.footer-subsection-list li {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
    display: table-row
}

.footer-subsection-list li a {
    text-decoration: none;
    line-height: 1.8;
}

.footer-subsection-list li span {
    font-size: 12px;
    color: #ccc;
}

.footer-social-media-icons-section {
    display: flex
}

.footer-social-media-icon {
    justify-content: center;
    align-items: center;
    padding-right: 25px
}

.footer-social-media-icon .fa {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none !important
}

.footer-social-media-icon .fa:hover {
    color: #ffffff
}

.footer-credits {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.footer-credits p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    line-height: 1
}

.footer-credits a {
    font-size: 17px;
    font-weight: 700
}

.footer-credits a:hover {
    color: #ffffff;
    text-decoration: none
}

/*=============== Resnponsive ============*/


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-link-menu {
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 991px) {
    .header{
    padding: 160px 0 50px;
    }
    .car-parts.car-parts-1.left-4{
        left: 0px;
    }
    .car-parts.car-parts-2.right-4{
        right: 0;
    }
    .cars-left-parts{
        margin-bottom: 2rem!important;
    }
    .cars-right-parts{
        margin-bottom: 0px;
    }
    .navbar-collapse {
        background-color: #fcfcfc;
        color: #FF3959;
        padding-bottom: 20px;
        padding-top: 20px
    }

    .header-scrolled .navbar-collapse {
        background-color: #fff
    }

    .nav-link-menu {
        color: #FF3959;
        font-size: 18px !important
    }

    #navbar .nav-item .learn-more-btn {
        margin-top: 10px
    }

    .learn-more-btn-section {
        justify-content: center
    }

    .vertical-slider-title-section {
        text-align: center;
        margin-top: 40px
    }

    .owl-vertical-slider .owl-dots {
        right: 0
    }

    .products-plan-cards-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 15px 0
    }

    .products-card {
        margin-bottom: 25px
    }

    .products-one {
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important
    }

    .products-three {
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important
    }

    .products-title p {
        max-width: 428px
    }

    .testimonials-slider-title-section {
        text-align: center;
        margin-top: 40px
    }

    .owl-testimonials-slider .owl-dots {
        right: 0
    }

    .about-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .about-header-img {
        display: none;
    }

    .footer-container {
        flex-wrap: wrap
    }
	
	.top-container {
        flex-wrap: wrap
    }

    .footer-logo {
        padding-left: 40px
    }

    .blog-details {
        margin-bottom: 40px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 767px) {
    .header-container, .products-container {
        flex-direction: column
    }
    .header {
        height: auto;
        padding-top: 20%;
        background-size: 200%;
    }
    .car-parts{
        margin-bottom: 2rem !important;
    }
    .cars-left-parts,.cars-right-parts{
        margin-bottom: 0px !important;
    }
    .footer-section{
        background-size: 200%;
    }
    
    .blog-details {
        margin-bottom: 30px;
    }

    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-form {
        margin-top: 30px;
    }
    .footer-container{
        padding-left: 0;
        padding-right: 0;
    }
	
	.top-container{
        padding-left: 0;
        padding-right: 0;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0
    }

    .header {
        padding-bottom: 50px;
    }

    .learn-more-btn,
    .learn-extra-btn {
        padding-left: 13px !important;
        padding-right: 13px !important;
        font-size: 13px;
    }

    .services-container {
        flex-direction: column
    }

    .header {
        padding-top: 30%
    }

    .header-subtitle {
        font-size: 24px
    }

}
/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 320px) {
    .navbar-brand img{
        width: 170px;
    }
}